// --- colors ---
$color-base-white: #fff;
$color-base-black: #000;
$color-accent: #F0145A;
$color-main-regular: #323264;
$color-main-alt: #46466E;
$color-main-soft: #686887;
$color-active-regular: #24A3FF;
$color-active-hover: #0085FF;
$color-active-active: #006CCF;
$color-grey-bg: #F5F5FA;
$color-grey-bg-alt: #EDEDF7;
$color-grey-text: #B3B3BA;
$color-grey-separator: #E6E6F0;
$color-gradient-regular: linear-gradient(to right bottom, #323264 0%, #323264 74%, #A54B5F 100%);
$color-gradient-soft: linear-gradient(to left bottom, #7A425E 0%, #323264 51%, #323264 100%);
$color-gradient-supersoft: linear-gradient(to left bottom, #323264 0%, #323264 60%, #643E72 100%);
$color-gradient-red: linear-gradient(to right bottom, #693264 0%, #F0145A 100%);
$color-gradient-red-text: linear-gradient(to right, #F0145A 0%, #EF8080 100%);
$color-gradient-red-icon: linear-gradient(#EF8080, #F0145A);
$color-gradient-red-text-reversed: linear-gradient(to right, #EF8080 0%, #F0145A 100%);

// --- fonts ---
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Regular'), url('../fonts/Montserrat-Regular.woff') format('woff');
    }
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    src: local('Montserrat Bold'), url('../fonts/Montserrat-Bold.woff') format('woff');
    }

// --- all settings ---

html {
    font-family: "Montserrat";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



// --- style HomePage ---

// .body-homepage {
//     width: 100%;
//     background: $color-gradient-supersoft;

//     &::before {
//         position: absolute;
//         content: "";
//         background: url("../img/icons/background_symbol.svg");
//         background-repeat: no-repeat;
//         width: 100%;
//         height: 100vh;
//         background-position: 50% 0;
//         z-index: 1;
//     }


// }
.body-homepage {
        width: 100%;
}
.bg-gradient {
    background: $color-gradient-supersoft;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.bg-h {
    background-image: url(../img/icons/background_symbol.svg);
    background-repeat: no-repeat;
    width: 100%;
    background-position: 50% 0;
    background-size: 872.34px;
}

.dark .header {
    &__language-btn {
        .btn {
            color: $color-base-white;

            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }

    &__location {
        color: $color-base-white;
    }

    &__phone {
        color: $color-base-white;
    }

    &__nav {
        .nav-link {
            color: $color-base-white;

            &:hover{
                border-bottom: 2px solid $color-base-white;
            }
        }
    }

    &__burger-menu {
        background-color: $color-base-white;
        &::after {
            background-color: $color-base-white;
        }
        &::before {
            background-color: $color-base-white;
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    width: 83.333%;
    margin: 0 auto;

    &__contacts-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 16px;

    }

    &__contacts{
        display: flex;
        align-items: center;
        gap: 6px;
    }

    &__nav {
        display: flex;
        gap: 15px;

        .nav-link {
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            color: $color-active-regular;
            padding-bottom: 3px;
            border-bottom: 2px solid transparent;
            &:hover{
                border-bottom: 2px solid;
            }
        }
        .active-link {
            color: $color-accent;
            border-bottom: 2px solid $color-accent;
            pointer-events: none;
        }
    }

    &__language-btn {
        .btn {
            font-weight: bold;
            font-size: 12px;
            background-color: transparent;
            border: none;
            border-radius: 8px;
            color: $color-grey-text;
            width: 33px;
            height: 25px;
            cursor: pointer;
        }
        .active-btn {
            color: $color-base-white;
            background-color: $color-accent;
            pointer-events: none;
        }
    }

    &__location {
        font-weight: normal;
        font-size: 16px;
        color: $color-grey-text;
    }

    &__phone {
        font-weight: bold;
        font-size: 16px;
        text-decoration: none;
        color: $color-grey-text;
    }

    &__facebook-link {
        &:hover {
            path {
                fill: $color-accent;
            }
        }
    }

    &__burger-menu {
        width: 18px;
        height: 2px;
        position: relative;
        margin: 15px 7px;
        display: none;
        cursor: pointer;
        &::after{
            content: "";
            width: 18px;
            height: 2px;
            position: absolute;
            top: 6px;
        }
        &::before {
            content: "";
            width: 18px;
            height: 2px;
            position: absolute;
            top: -6px;
        }
    }

    .close-btn {
        width: 18px;
        height: 18px;
        position: relative;
        align-self: flex-end;
        display: none;
        cursor: pointer;
        &::after {
            content: "";
            position: absolute;
            left: -9px;
            top: 50%;
            height: 2px;
            width: 26px;
            background-color: #EC6F5D;
            transform: rotate(45deg);
        }
        &::before {
            content: "";
            left: -9px;
            top: 50%;
            position: absolute;
            height: 2px;
            width: 26px;
            background-color: #EC6F5D;
            transform: rotate(-45deg);
        }
        
    }
}
.dark .main {
    &__h1-text {
        color: $color-base-white;
    }
}
.main {
    &__h1-text {
        font-size: 38px;
        font-weight: bold;
        padding-top: 360px;
        padding-bottom: 405px;
        text-align: center;
    }
    &__scroll-btn {
        border: 2px solid $color-base-white;
        border-radius: 50%;
        width: 42px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        &:hover {
            border-color: $color-accent;
            svg {
                path {
                    stroke: $color-accent;
                }
            }
        }
    }

    &__features-section {
        display: flex;
        justify-content: space-between;
        padding-top: 90px;
        width: 70.83%;
        margin: 0 auto;
        align-items: center;
    }
    &__features-list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: end;
        width: 27.57%;
    }
    &__feature-item {
        font-size: 38px;
        font-weight: bold;
        text-decoration: none;
        color: $color-grey-text;
        &:hover {
            color: $color-accent;
        }
    }
    .active-item {
        font-weight: bold;
        background: $color-gradient-red-text-reversed;
        -webkit-background-clip: text;
        color: transparent;
        pointer-events: none;
    }
    &__features-description {
        width: 63.31%;
    }
    &__feature-h2 {
        font-size: 30px;
        font-weight: bold;
        color: $color-base-white;
        padding-bottom: 30px;
    }
    &__feature-text {
        font-size: 19px;
        font-weight: normal;
        color: $color-base-white;
        line-height: 30px;
    }
    
}

.section-info {
    &__shadow-1{
        height: 10px;
        width: calc(100% - 40px);
        margin: 0 auto;
        background-color: #CACADB;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    &__shadow-2{
        height: 10px;
        width: calc(100% - 80px);
        margin: 0 auto;
        background-color: #E7E7F2;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}


@media screen and (max-width: 1440px) {
    .header {
        width: 91.667%;
    }
    .main {
        &__h1-text {
            padding-top: 260px;
            padding-bottom: 305px;
        }

        &__features-section {
            width: 75%;
        }
        &__features-list {
            width: 34.72%;
        }
        &__features-description {
            width: 53.8%;
        }
    }
    .bg-h {
        background-size: 698px;
    }
}

@media screen and (max-width: 1024px) {
    .bg-h {
        background-size: 670px;
    }
    .header {
        width: 88.281%;
    }
    .main {
        &__h1-text {
            padding-top: 245px;
            padding-bottom: 290px;
        }

        &__features-section {
            width: 88.28%;
        }
        &__features-list {
            width: 41.48%;
        }
        &__features-description {
            width: 44.8%;
        }
    }
}

@media screen and (max-width: 768px) {
    .bg-h {
        background-size: 894px;
    }
    .header {
        width: 84.375%;
        flex-direction: column;
        position: relative;
        padding-top: 105px;

        &__contacts-nav {
            align-items: normal;
        }

        &__contacts {
            position: absolute;
            top: 50px;
        }

        &__nav {
            padding-top: 30px;
        }
    }
    .main {
        &__h1-text {
            padding-top: 270px;
            padding-bottom: 416px;
        }

        &__features-section {
            width: 100%;
            flex-direction: column;
        }
        &__features-list {
            width: 100%;
            padding-left: 7.81%;
            padding-right: 7.81%;
            padding-bottom: 60px;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow-x: scroll;
        }
        &__feature-item {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            white-space: nowrap;
        }
        &__features-description {
            width: 84.37%;
            padding-top: 64px;
            position: relative;
            &::before {
                content: "";
                width: 100%;
                height: 4px;
                background-color: rgba(255, 255, 255, 0.3);
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        &__vertical-line {
            display: none;
        }
    }
}
@media screen and (max-width: 580px) 
// @media screen and (max-width: 375px) 
{
    .bg-h {
        background-size: 524px;
    }

    .header {
        width: 100%;
        padding-top: 45px;
        padding-left: 15px;
        padding-right: 15px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &__burger-menu {
            display: block;
        }
        &__contacts {
            top: 0;
            left: 0;
            padding: 10px 0;
            background-color: rgba(245, 245, 250, 0.2);
            width: 100%;
            justify-content: space-between;
            padding-left: 15px;
            padding-right: 15px;
            circle {
                display: none;
            }
            svg {
                display: none;
            }
        }
        &__location {
            display: none;
        }
        &__facebook-link {
            display: none;
        }
        &__nav {
            position: absolute;
            flex-direction: column;
            text-align: center;
            width: 90%;
            border-radius: 12px;
            gap: 20px;
            justify-content: center;
            padding: 12px;
            background-color: $color-base-white;
            left: 500%;
            top: 150px;
            .nav-link {
                background: $color-grey-bg;
                border-radius: 12px;
                padding: 7px 0px;
                color: $color-active-regular;
                &:hover {
                    color: $color-accent;
                    border: transparent;
                }
            }
            .close-btn {
                display: block;
            }
        }
        .active-link {
            background-color: $color-grey-separator;
            border: transparent;
            pointer-events: none;
        }
        
        &__logo {
            padding-top: 15px;
        }
    }

    .dark .header__nav .nav-link {
        color: $color-active-regular;
    }

    .main {
        &__h1-text {
            padding-top: 130px;
            padding-bottom: 158px;
            width: 84%;
            margin: 0 auto;
        }
    }
}
