@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat Regular"), url("../fonts/Montserrat-Regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  src: local("Montserrat Bold"), url("../fonts/Montserrat-Bold.woff") format("woff");
}
html {
  font-family: "Montserrat" !important;
}

p {
  margin-bottom: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Montserrat" !important; */
  transition: 0.5s ease;
}



.header {
  display: flex !important; 
  justify-content: space-between !important;
  padding-top: 50px;
  width: 83.333%;
  margin: 0 auto;
}
.header__contacts-nav {
  display: flex !important;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}
.header__contacts {
  display: flex !important;
  align-items: center;
  gap: 6px;
}
.header__contacts p {
	margin-bottom: 0;
}
.header__nav {
  display: flex !important;
  gap: 15px;
}
.header__nav .nav-link {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #24A3FF;
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
}
.header__nav .nav-link:hover {
  border-bottom: 2px solid;
}
.header__nav .active-link {
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
  pointer-events: none;
}
.header__language-btn .my-btn {
  font-weight: bold;
  font-size: 12px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  color: #B3B3BA;
  width: 33px;
  height: 25px;
  cursor: pointer;
  text-align:center;
}
.header__language-btn .active-btn {
  color: #fff;
  background-color: #F0145A;
  pointer-events: none;
}
.header__language-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.header__location {
  font-weight: normal;
  font-size: 16px;
  color: #B3B3BA;
}
.header__phone {
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: #B3B3BA;
}
.header__facebook-link:hover path {
  fill: #F0145A;
}
.header__burger-menu {
  width: 18px;
  height: 2px;
  position: relative;
  margin: 15px 7px;
  display: none;
  cursor: pointer;
  background-color: #323264;
}
.header__burger-menu::after {
  content: "";
  width: 18px;
  height: 2px;
  position: absolute;
  top: 6px;
  background-color: #323264;
}
.header__burger-menu::before {
  content: "";
  width: 18px;
  height: 2px;
  position: absolute;
  top: -6px;
  background-color: #323264;
}
.header .close-btn {
  width: 18px;
  height: 18px;
  position: relative;
  align-self: flex-end;
  display: none;
  cursor: pointer;
}
.header .close-btn::after {
  content: "";
  position: absolute;
  left: -9px;
  top: 50%;
  height: 2px;
  width: 26px;
  background-color: #EC6F5D;
  transform: rotate(45deg);
}
.header .close-btn::before {
  content: "";
  left: -9px;
  top: 50%;
  position: absolute;
  height: 2px;
  width: 26px;
  background-color: #EC6F5D;
  transform: rotate(-45deg);
}

.dark .main__h1-text {
  color: #fff;
}

.main__h1-text {
  font-size: 38px;
  font-weight: bold;
  padding-top: 360px;
  padding-bottom: 405px;
  text-align: center;
}
.main__scroll-btn {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.main__scroll-btn:hover {
  border-color: #F0145A;
}
.main__scroll-btn:hover svg path {
  stroke: #F0145A;
}
.main__features-section {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
  width: 70.83%;
  margin: 0 auto;
  align-items: center;
}
.main__features-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: end;
  width: 27.57%;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
.main__feature-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  white-space: nowrap;
  font-size: 38px;
  font-weight: bold;
  text-decoration: none;
  color: #B3B3BA;
}
.main__feature-item:hover {
  color: #F0145A;
}
.main .active-item {
  font-weight: bold;
  background: linear-gradient(to right, #EF8080 0%, #F0145A 100%);
  -webkit-background-clip: text;
  color: transparent;
  pointer-events: none;
}
.main__features-description {
  width: 63.31%;
}
.main__feature-h2 {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 30px;
}
.main__feature-text {
  font-size: 19px;
  font-weight: normal;
  color: #fff;
  line-height: 30px;
}
.main__services {
  display: flex;
  flex-direction: column;
  width: 83%;
  padding-top: 60px;
  margin: 0 auto;
  padding-bottom: 60px;
}
.main__services-main-link {
  font-size: 14px;
  color: #24A3FF;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5.5px;
  text-decoration: none;
}
.main__services-main-link:hover {
  color: #F0145A;
}
.main__services-main-link:hover svg path {
  stroke: #F0145A;
}
.main__services-main-h2 {
  padding-top: 10px;
  font-weight: bold;
  font-size: 38px;
  background: linear-gradient(to right, #F0145A 0%, #EF8080 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.main__services-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main__services-item {
  padding-top: 60px;
  width: 30.8%;
}
.main__services-item-link {
  text-decoration: none;
}
.main__services-item-link:hover .main__services-item-h3 {
  color: #F0145A;
}
.main__services-item-h3 {
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
  color: #24A3FF;
}
.main__services-item-text {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
}

.section-info__shadow-1 {
  height: 10px;
  width: calc(100% - 40px);
  margin: 0 auto;
  background-color: #CACADB;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.section-info__shadow-2 {
  height: 10px;
  width: calc(100% - 80px);
  margin: 0 auto;
  background-color: #E7E7F2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.section-info__team-slider {
  width: 83.33%;
  margin: 0 auto;
}
.section-info__slide {
  margin-top: 60px;
  background-color: #EDEDF7;
  display: flex;
  border-radius: 12px;
  margin-bottom: 30px;
}
.section-info .slick-initialized .slick-slide {
  display: flex;
}
.section-info .slick-dots li button:before {
  color: rgba(36, 163, 255, 0.2);
  font-size: 16px;
}
.section-info .slick-dots li.slick-active button:before {
  color: #24A3FF;
}
.section-info__slide-img {
  width: 25%;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.section-info .slide-img {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  object-position: center;
}
.section-info__slide-text {
  padding: 30px;
  width: 75%;
}
.section-info__slide-link {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #24A3FF;
  display: flex;
  align-items: center;
  gap: 5.5px;
  padding-bottom: 5px;
}
.section-info__slide-link:hover {
  color: #F0145A;
}
.section-info__slide-link:hover svg path {
  stroke: #F0145A;
}
.section-info__slide-h2 {
  font-size: 38px;
  font-weight: bold;
  background: linear-gradient(to right, #F0145A 0%, #EF8080 100%);
  -webkit-background-clip: text;
  color: transparent;
  padding-bottom: 30px;
}
.section-info__slide-h4 {
  font-size: 16px;
  padding-bottom: 6px;
  color: #B3B3BA;
}
.section-info__slide-p {
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
}
.section-info__clients-h3 {
  font-size: 14px;
  font-weight: bold;
  color: #323264;
  text-transform: uppercase;
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
}
.section-info__clients-grid {
  border-radius: 12px;
  width: 89.583%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin-bottom: 60px;
}
.section-info__client {
  width: 25%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-info .client-1 {
  background-color: #1C4280;
}
.section-info .client-2 {
  background-color: #143646;
}
.section-info .client-3 {
  background-color: #F48B30;
}
.section-info .client-4 {
  background-color: #9E4DC3;
}
.section-info .client-5 {
  background-color: #FD9339;
}
.section-info .client-6 {
  background-color: #E2E2E4;
}
.section-info .client-7 {
  background-color: #C71C36;
}
.section-info .client-8 {
  background-color: #DCF3F9;
}
.section-info .client-9 {
  background-color: #EAEAEA;
}
.section-info .client-10 {
  background-color: #282240;
}
.section-info .client-11 {
  background-color: #1D4568;
}
.section-info .client-12 {
  background-color: #000000;
}
.section-info__publications {
  background-color: #F5F5FA;
}
.section-info__public {
  width: 83%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.section-info__public-link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 2px;
  color: #24A3FF;
  padding-bottom: 10px;
}
.section-info__public-link:hover {
  color: #F0145A;
}
.section-info__public-link:hover svg path {
  stroke: #F0145A;
}
.section-info__public-h2 {
  font-size: 38px;
  font-weight: bold;
  background: linear-gradient(to right, #F0145A 0%, #EF8080 100%);
  -webkit-background-clip: text;
  color: transparent;
  padding-bottom: 30px;
}
.section-info__public-grid {
  display: flex;
  justify-content: space-between;
}
.section-info__public-grid .public-item {
  width: 32%;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}
.section-info__public-grid .public-item__img {
  width: 100%;
  height: 200px;
  overflow: hidden;
  object-fit: cover;
}
.section-info__public-grid .public-text {
  padding: 30px;
}
.section-info__public-grid .public-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #24A3FF;
}
.section-info__public-grid .public-date {
  font-size: 12px;
  font-weight: bold;
  color: #B3B3BA;
  padding-bottom: 15px;
  padding-top: 15px;
}
.section-info__public-grid .public-line {
  height: 4px;
  color: #E6E6F0;
  background-color: #E6E6F0;
  color: #E6E6F0;
  border: none;
}
.section-info__public-grid .public-paragraph {
  font-size: 14px;
  line-height: 22px;
  color: #000;
  padding-top: 15px;
}

.main_team-page__h1 {
  width: 70.83%;
  margin: 0 auto;
  padding-top: 60px;
  background: linear-gradient(to right, #F0145A 0%, #EF8080 100%);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 38px;
  font-weight: bold;
  padding-bottom: 60px;
}
.main_team-page__grid {
  width: 83%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main_team-page__card {
  width: 30.83%;
  padding-bottom: 60px;
}
.main_team-page__card-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
}
.main_team-page__card-info {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}
.main_team-page__card-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main_team-page__card-h4 {
  color: #323264;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
.main_team-page__card-h4:hover {
  color: #F0145A;
}
.main_team-page__card-p {
  line-height: 22px;
  font-size: 14px;
  color: #B3B3BA;
}
.main_team-page__card-btn {
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5FA;
}
.main_team-page__card-btn:hover {
  background-color: #EDEDF7;
}
.main_team-page__card-btn:hover .arrow path {
  stroke: #F0145A;
}

.main_contact-page {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.main_contact-page__contact {
  width: 33.84%;
  display: flex;
  flex-direction: column;
}
.main_contact-page__address {
  line-height: 30px;
  font-size: 21px;
  font-weight: normal;
  color: #323264;
}
.main_contact-page__horisontal-line {
  height: 4px;
  background-color: #E6E6F0;
  color: #E6E6F0;
  border: none;
  margin-bottom: 30px;
  margin-top: 30px;
}
.main_contact-page__phone {
  text-decoration: none;
  line-height: 30px;
  font-size: 21px;
  font-weight: normal;
  color: #323264;
}
.main_contact-page__mail {
  text-decoration: none;
  line-height: 30px;
  font-size: 21px;
  font-weight: normal;
  color: #24A3FF;
  padding-top: 15px;
}
.main_contact-page__mail:hover {
  color: #F0145A;
}
.main_contact-page__facebook-link {
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: center;
}
.main_contact-page__facebook-link:hover path {
  fill: #F0145A;
}
.main_contact-page__facebook-link:hover .main_contact-page__facebook-text {
  color: #F0145A;
}
.main_contact-page__facebook-text {
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  color: #24A3FF;
}
.main_contact-page__form {
  width: 33.84%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 12px;
  background-color: #F5F5FA;
}
.main_contact-page__h1 {
  background: linear-gradient(to right, #F0145A 0%, #EF8080 100%);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 30px;
}
.main_contact-page__contact-form {
  display: flex;
  flex-direction: column;
}
.main_contact-page .input:focus {
  border: 1px solid #24A3FF;
}
.main_contact-page__name {
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  color: #B3B3BA;
  margin-bottom: 15px;
  height: 56px;
}
.main_contact-page__message {
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  color: #B3B3BA;
  margin-bottom: 30px;
}
.main_contact-page__label {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #B3B3BA;
  margin-bottom: 15px;
}
.main_contact-page__contact-phone {
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  color: #B3B3BA;
  margin-bottom: 15px;
  height: 56px;
}
.main_contact-page__contact-mail {
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  color: #B3B3BA;
  margin-bottom: 30px;
  height: 56px;
}
.main_contact-page__form-btn {
  border: none;
  border-radius: 12px;
  background-color: #24A3FF;
  height: 56px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
}
.main_contact-page__form-btn:hover {
  background-color: #0085FF;
}
.main_contact-page__form-btn:active {
  background-color: #006CCF;
}

.main_publications-page {
  background-color: #F5F5FA;
  text-decoration: none;
 padding: 30px 0 60px 0;
  height:100%;
  margin-top: 60px;
}
.main_publications-page__content {
  width: 83%;
  margin: 0 auto;
}

.footer {
  background-color: #F5F5FA;
  text-decoration: none;
}
.footer__facebook-link:hover path {
  fill: #F0145A;
}
.footer__content {
  border-top: 2px solid #E6E6F0;
  width: 83%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__location {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: nowrap;
}
.footer__address {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  color: #323264;
  white-space: nowrap;
}
.footer__map {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #24A3FF;
  white-space: nowrap;
}
.footer__map:hover {
  color: #F0145A;
}
.footer__contact-link {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: nowrap;
}
.footer__phone {
  font-size: 16px;
  font-weight: bold;
  color: #46466E;
  text-decoration: none;
  white-space: nowrap;
}
.footer__mail {
  font-size: 16px;
  font-weight: bold;
  color: #24A3FF;
  text-decoration: none;
  white-space: nowrap;
}
.footer__mail:hover {
  color: #F0145A;
}
.footer .copyright {
  font-size: 16px;
  font-weight: normal;
  color: #B3B3BA;
  white-space: nowrap;
}

@media screen and (max-width: 1440px) {
  .header {
    width: 91.667%;
  }
  .main__h1-text {
    padding-top: 260px;
    padding-bottom: 305px;
  }
  .main__features-section {
    width: 75%;
  }
  .main__features-list {
    width: 34.72%;
  }
  .main__features-description {
    width: 53.8%;
  }
  .main__services {
    width: 91.67%;
  }
  .main__services-item {
    width: 27.78%;
  }
  .bg-h {
    background-size: 698px;
  }
  .section-info__team-slider {
    width: 91.67%;
  }
  .section-info__slide-img {
    width: 30.3%;
  }
  .section-info__slide-text {
    width: 69.6%;
  }
  .section-info__clients-grid {
    width: 100%;
    border-radius: 0;
    margin-bottom: 0;
  }
  .section-info__public {
    width: 91.67%;
  }
  .main_team-page__h1 {
    width: 75%;
  }
  .main_team-page__grid {
    width: 91.67%;
  }
  .main_team-page__card {
    width: 30.3%;
  }
  .main_contact-page__contact {
    width: 35.41%;
  }
  .main_contact-page__form {
    width: 35.41%;
  }
  .footer__content {
    width: 91.67%;
  }
}
@media screen and (max-width: 1024px) {
  .bg-h {
    background-size: 670px;
  }
  .header {
    width: 88.281%;
  }
  .main__h1-text {
    padding-top: 245px;
    padding-bottom: 290px;
  }
  .main__features-section {
    width: 88.28%;
  }
  .main__features-list {
    width: 41.48%;
  }
  .main__features-description {
    width: 44.8%;
  }
  .main__services {
    width: 88.28%;
  }
  .main__services-item {
    width: 28.91%;
  }
  .section-info__team-slider {
    width: 88.28%;
  }
  .section-info__slide-img {
    width: 44.25%;
  }
  .section-info .slide-img {
    width: auto;
    height: 100%;
  }
  .section-info__slide-text {
    width: 55.75%;
  }
  .section-info__public {
    width: 88.28%;
  }
  .main_team-page__h1 {
    width: 64.84%;
  }
  .main_team-page__grid {
    width: 88.28%;
  }
  .main_team-page__card {
    width: 28.87%;
  }
  .main_contact-page__contact {
    width: 41.21%;
  }
  .main_contact-page__form {
    width: 41.21%;
  }
  .footer__content {
    width: 88.28%;
  }
}
@media screen and (max-width: 768px) {
  .bg-h {
    background-size: 894px;
  }
  .header {
    width: 84.375%;
    flex-direction: column;
    position: relative;
    padding-top: 105px;
  }
  .header__contacts-nav {
    align-items: normal;
  }
  .header__contacts {
    position: absolute;
    top: 50px;
  }
  .header__nav {
    padding-top: 30px;
  }
  .main__h1-text {
    padding-top: 270px;
    padding-bottom: 416px;
  }
  .main__features-section {
    width: 100%;
    flex-direction: column;
  }
  .main__features-list {
    width: 100%;
    padding-left: 7.81%;
    padding-right: 7.81%;
    padding-bottom: 60px;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: flex-start;
  }
  .main__feature-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
  }
  .main__features-description {
    width: 84.37%;
    padding-top: 64px;
    position: relative;
  }
  .main__features-description::before {
    content: "";
    width: 100%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    left: 0;
    top: 0;
  }
  .main__vertical-line {
    display: none;
  }
  .main__services {
    width: 84.38%;
  }
  .main__services-item {
    width: 45.37%;
  }
  .section-info__team-slider {
    width: 84.37%;
  }
  .section-info__slide {
    flex-direction: column;
  }
  .section-info__slide-img {
    width: 100%;
    height: 500px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 12px;
  }
  .section-info .slide-img {
    width: 100%;
    height: auto;
  }
  .section-info__slide-text {
    width: 100%;
  }
  .section-info__client {
    width: 33.333%;
  }
  .section-info__public {
    width: 84.38%;
  }
  .section-info__public-grid {
    flex-wrap: wrap;
  }
  .section-info .pub-1,
  .section-info .pub-2 {
    width: 47.68%;
  }
  .section-info .pub-3 {
    width: 100%;
    margin-top: 30px;
  }
  .main_team-page__h1 {
    width: 84.375%;
  }
  .main_team-page__grid {
    width: 84.375%;
  }
  .main_team-page__card {
    width: 45.37%;
  }
  .main_contact-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main_contact-page__contact {
    width: 84.37%;
  }
  .main_contact-page__form {
    width: 84.37%;
  }
  .footer__content {
    width: 84.38%;
  }
}
@media screen and (max-width: 580px) {
  .bg-h {
    background-size: 524px;
  }
  .header {
    width: 100%;
    padding-top: 45px;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .header__burger-menu {
    display: block;
  }
  .header__contacts {
    top: 0;
    left: 0;
    padding: 10px 0;
    background-color: rgba(245, 245, 250, 0.2);
    width: 100%;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header__contacts circle {
    display: none;
  }
  .header__contacts svg {
    display: none;
  }
  .header__location {
    display: none;
  }
  .header__facebook-link {
    display: none;
  }
  .header__nav {
    position: absolute;
    flex-direction: column;
    text-align: center;
    width: 90%;
    border-radius: 12px;
    gap: 20px;
    justify-content: center;
    padding: 12px;
    background-color: #fff;
    left: 500%;
    top: 150px;
  }
  .header__nav .nav-link {
    background: #F5F5FA;
    border-radius: 12px;
    padding: 7px 0px;
    color: #24A3FF;
  }
  .header__nav .nav-link:hover {
    color: #F0145A;
    border: transparent;
  }
  .header__nav .close-btn {
    display: block;
  }
  .header .active.header__nav {
    left: 5%;
  }
  .header .active-link {
    background-color: #E6E6F0;
    border: transparent;
    pointer-events: none;
  }
  .header__logo {
    padding-top: 15px;
  }
  .dark .header__nav .nav-link {
    color: #24A3FF;
  }
  .main__h1-text {
    padding-top: 130px;
    padding-bottom: 158px;
    width: 84%;
    margin: 0 auto;
  }
  .main__features-section {
    padding-top: 60px;
  }
  .main__features-list {
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 30px;
  }
  .main__feature-item {
    font-size: 30px;
  }
  .main__features-description {
    width: 84%;
    padding-top: 30px;
  }
  .main__feature-h2 {
    font-size: 20px;
  }
  .main__services {
    width: 84%;
  }
  .main__services-item {
    width: 100%;
  }
  .main__services-main-h2 {
    font-size: 30px;
  }
  .section-info__team-slider {
    width: 84%;
  }
  .section-info__slide {
    flex-direction: column;
  }
  .section-info__slide-img {
    width: 100%;
    height: 500px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 12px;
  }
  .section-info .slide-img {
    width: auto;
    height: 100%;
  }
  .section-info__slide-text {
    width: 100%;
  }
  .section-info__slide-h2 {
    font-size: 30px;
  }
  .section-info__client {
    width: 100%;
  }
  .section-info__public {
    width: 84%;
  }
  .section-info__public-grid {
    gap: 30px;
  }
  .section-info__public-h2 {
    font-size: 30px;
  }
  .section-info .public-item {
    width: 100%;
  }
  .section-info .pub-3 {
    margin: 0;
  }
  .main_team-page__h1 {
    width: 84%;
    font-size: 30px;
  }
  .main_team-page__grid {
    width: 84%;
  }
  .main_team-page__card {
    width: 100%;
  }
  .main_contact-page__contact {
    width: 84%;
  }
  .main_contact-page__form {
    width: 84%;
  }
  .footer__content {
    width: 84%;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .footer .circle {
    display: none;
  }
  .footer__contact {
    flex-direction: column;
    align-items: center;
  }
  .footer__location {
    flex-direction: column;
  }
  .footer__contact-link {
    flex-direction: column;
  }
}

/* --- --- publications page main content --- --- */

.main_publications-page .container {
  font-family: "Montserrat" !important;
}
.main_publications-page .container .card-title {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: bold;
  color: #24A3FF;
  text-decoration: none;
  margin-bottom: 15px;
}
.main_publications-page .container .card-title:hover {
  color: #F0145A;
}

.main_publications-page .container .card-date {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #B3B3BA;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  border-bottom: 4px solid #E6E6F0;
}

.main_publications-page .container .card-text {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 22px;
  padding-top: 15px;
}

.main_publications-page .container .card {
  border: none;
  border-radius: 8px;
  
}

.main_publications-page .container .card-body {
  padding: 30px;
}

.main_publications-page .container .btn-group {
  height: 42px;
  /* border: none; */
  border: 2px solid #E6E6F0;
  border-radius: 12px;
  background-color: #E6E6F0;
  align-items: center;
  gap: 3px;
}
.main_publications-page .container .btn {
  /* border: 2px solid #E6E6F0; */
  border: none;
  border-radius: 10px !important;
  height: 38px;
  background: transparent;
  padding: 6px 30px 10px;
  margin: 0;
  align-self: center;
  color: #323264;
  font-size: 16px;
  font-weight: bold;
}
.main_publications-page .container .btn:hover {
  background-color: #F5F5FA;
}
.main_publications-page .container .btn.active {
  background-color: #fff;
  pointer-events: none;
  
}

.main_publications-page .container .btn-primary {
  height: 52px;
  border: 2px solid #24A3FF;
  background-color: #24A3FF;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  padding: 12px 26px;
  box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
}
.main_publications-page .container .btn-primary:hover {
  color: #24A3FF;
}

.main_publications-page .container .card-img-top {
  height: 200px;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

/* .main_publications-page .container */
